body {
    background-color: Wheat;
}

.formal {
    font-family: Arial;
    font-weight: bold;
    font-size: 24pt;
    color: gray;
}

.list {
    font-family: Times;
    font-style: italic;
    font-size: 20pt;
    color: blue;
}
